a{
  color: #11999E;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  font-size: 100%;
}
.broccoli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
/* .broccoli-description{
  clear: right;
} */
.bottom-cloud {
  position: absolute;
}

.bottom-container {
  background-color: #eaf5f5;
  margin:0 0 5px;
  padding: 27px 0 5px;
}
.btn {
  background: #8dc8f0;
  background-image: -webkit-linear-gradient(top, #8dc8f0, #06273b);
  background-image: -moz-linear-gradient(top, #8dc8f0, #06273b);
  background-image: -ms-linear-gradient(top, #8dc8f0, #06273b);
  background-image: -o-linear-gradient(top, #8dc8f0, #06273b);
  background-image: linear-gradient(to bottom, #8dc8f0, #06273b);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #dedede;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30b886;
  background-image: -webkit-linear-gradient(top, #30b886, #87ad9f);
  background-image: -moz-linear-gradient(top, #30b886, #87ad9f);
  background-image: -ms-linear-gradient(top, #30b886, #87ad9f);
  background-image: -o-linear-gradient(top, #30b886, #87ad9f);
  background-image: linear-gradient(to bottom, #30b886, #87ad9f);
  text-decoration: none;
}
.contact-me{
  padding-bottom: 13px;
}
.contact{
      padding-bottom: 10px;
}
.code-img{
  width: 34%;
  float: left;
  margin-right: 30px;
}

.footer-link{
  text-decoration: none;
  padding: 3px 0;
  margin: 2px 3px;
}
.footer-link:hover{
  background-color: #81dfbc;

}
h1 {
  /* font-size: 562.5%; */
  font-size: 5.625rem;
  margin: 50px auto 0 auto ;
  /* line-height: 2; */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
 font-family: 'Montserrat', sans-serif;
 font-size: 2.5rem;
 color: #66BFBF;
   font-weight: normal;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}
 hr{
   border-top:2px dotted #a79f9f;
   width: 5%;
 }
.middle-container {
background-color: #eef9fa;
}

.pro {
  text-decoration: underline;
}
.skill-row{
  margin:100px auto 100px auto;
  width:50%;
  text-align: left;
  line-height: 1.2;
}
.top-container {
  background-color: #ebf4fc;
  position: relative;
  padding: 50px 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 25px;
}
.web{
  font-size: 1.5rem;
}
table{
 margin-bottom:65px;
}
.table-skill{
      margin-bottom: 35px;
}
